$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$title-dark-theme-color: #ffffff;
$title-light-theme-color: #212121;
$text-dark-theme-color: #ffffff;
$text-light-theme-color: #757575;
$accent-color: #2196F3;
$social-link-color: #afb1b8;